@tailwind base;
@tailwind components;
@tailwind utilities;


.cont-options {
  @apply w-full bg-white rounded-xl flex flex-col divide-y-[2px] divide-[#2221]  border-solid z-20 shadow ;
  // clip-path: inset(0 0 100% 0);
  // opacity: 0;
  transition: clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.is-open {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    pointer-events: all;
  }

  &__option {
    @apply transition-colors px-6 py-[14px] pr-16 relative  cursor-pointer text-gray-100  font-normal;

    & span {
      @apply  text-base tracking-wide ;
    }
  }
}
