@tailwind base;
@tailwind components;
@tailwind utilities;


.cont-options {
  @apply  bg-white rounded-xl flex flex-col divide-y-[2px] divide-[#2221]  border-solid z-20 w-max absolute top-10;
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  transition: clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-shadow: -1px -2px 10px 10px #0000000a;

  &.is-open {
    clip-path: inset(-100% -100% -100% -100%);
    opacity: 1;
    pointer-events: all;
  }

  &__option {
    @apply transition-colors px-6 py-[14px] pr-16 relative  cursor-pointer text-gray-100  font-normal;

    
        & svg {
          @apply opacity-0 transition-opacity;
        }

    &--active{
      @apply text-cyanGreen-100;

      & svg{
        @apply opacity-100;
      }
    }

    & span {
      @apply  text-base tracking-wide ;
    }
  }
}
