@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #444;
  @apply bg-bodyBg pt-24;
}

.custom-shadow {
  box-shadow: -1px -2px 10px 10px #0000000a;
}

.btn {
  @apply py-1.5 px-7 rounded-xl font-medium;

  &-submit {
    @apply bg-cyanGreen-200 text-white;
  }
  &-guest {
    @apply bg-white border-2 border-cyanGreen-100 text-cyanGreen-100;
  }
  &-cancel {
    @apply text-white bg-red-100;
  }
}

.blogs {
  &-wrapper {
    @apply flex flex-col gap-9 px-4 pt-10 mb-8;
    @media screen and (min-width: 384px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
    }
  }
  &-error-msg {
    @apply text-red-100 text-center font-semibold py-5;
  }
}

.hover {
  transition: 0.2s linear opacity;
  @media screen and (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
